.hero-section {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.animated-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, rgba(30, 58, 138, 0.1), rgba(249, 115, 22, 0.1));
  z-index: -1;
}

.animated-background::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: 
    radial-gradient(circle at 10% 20%, rgba(30, 58, 138, 0.3) 0%, transparent 30%),
    radial-gradient(circle at 50% 80%, rgba(249, 115, 22, 0.3) 0%, transparent 70%),
    radial-gradient(circle at 50% 50%, rgba(184, 181, 181, 0) 0%, transparent 60%);
  z-index: -1;
 
}

/* @keyframes pulse {
  0% {
    transform: scale(1) rotate(0deg);
  }
  50% {
    transform: scale(1.2) rotate(5deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
} */

.hero-content {
  max-width: 800px;
  padding: 0 20px;
  margin-top: 30px;
}

.hero-content h1 {
  font-size: 3.5rem;
  margin-bottom: 20px;
  color: var(--primary-blue);
}

.highlight-text {
  color: var(--primary-orange);
  display: block;
  font-size: 4.5rem;
  font-weight: 700;
  margin: 10px 0;
}

.hero-content h2 {
  font-size: 2rem;
  margin-bottom: 30px;
  color: var(--primary-blue);
}

.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 40px;
  color: var(--gray);
}

.cta-button {
  padding: 15px 40px;
  background-color: var(--primary-orange);
  color: white;
  border: none;
  border-radius: 30px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: var(--transition);
  box-shadow: 0 5px 15px rgba(249, 115, 22, 0.3);
}
.cta-button a{
  text-decoration: none;
  color: white;
  display: block;
  width: 100%;
  height: 100%;
}
.cta-button:hover {
  background-color: var(--secondary-orange);
  transform: translateY(-3px);
  box-shadow: 0 8px 20px rgba(249, 115, 22, 0.4);
}

@media (max-width: 768px) {

  .hero-content h1 {
    text-align: left;
    font-size: 1.7rem;
  }
  
  .highlight-text {
    text-align: left;
    font-size: 2.5rem;
  }
  
  .hero-content h2 {
    text-align: left;
    font-size: 1rem;
  }

  .hero-content p {
    text-align: left;
    font-size: 1rem;
  }
}